body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('pexels-harrison-candlin-1279336-2441454.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    background-color: #8ae2f863;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #2f71ff;
}

main {
    padding: 100px 15px;
}

.content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 5%;
    gap: 50px;
    padding-bottom: 10%;
}

.intro h1 {
    font-size: 3rem;
}

.intro h2 {
    color: #007bff;
    font-size: 2rem;
}

p {
    margin-top: 10px;
    padding-bottom: 0.5px;
}

.gura {
    width: 35%;
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.gura2 {
    padding: 100px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 60%;
    margin-bottom: 70%;
}